<!DOCTYPE html>
<html>
<head>
	<title>dine post 9</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script type="text/javascript" src="deliveryApp.js"></script>
</head>
<body ng-app="myApp" ng-controller = "myCtrl">
	<h2>Menu Items</h2>
	<div>
		<button type="submit" ng-click="data()"> click me! </button>
		<table>
            <tr>
               <th>Item ID</th>
               <th>Name</th>
               <th>Price</th>
               <th>Quantity</th>
            </tr>
            <tr ng-repeat="item in menu">
               <th>{{item.itemId}}</th>
               <th>{{item.itemName}}</th>
               <th>{{item.price}}</th>
               <th>{{item.quantity}}</th>
            </tr>
         </table>
	</div>
</body>
</html>